<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>pyxterm.js</title>
    <link rel="stylesheet" href="https://unpkg.com/xterm@4.11.0/css/xterm.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black overflow-hidden">
    <div class="bg-white w-full p-2 font-bold flex justify-between items-center">
        <a href="#" class="text-xl text-black no-underline">{{ SITE_TITLE }} - Terminal</a>
        <span class="text-sm">status: <span id="status" class="text-gray-700">connecting...</span></span>
    </div>
    <div id="terminal" class="w-full h-[calc(100%-2rem)] mt-1"></div>

    <!-- xterm -->
    <script src="https://unpkg.com/xterm@4.11.0/lib/xterm.js"></script>
    <script src="https://unpkg.com/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.js"></script>
    <script src="https://unpkg.com/xterm-addon-web-links@0.4.0/lib/xterm-addon-web-links.js"></script>
    <script src="https://unpkg.com/xterm-addon-search@0.8.0/lib/xterm-addon-search.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>

    <script>
        const term = new Terminal({
            cursorBlink: true,
            macOptionIsMeta: true,
            scrollback: true,
        });
        term.attachCustomKeyEventHandler(customKeyEventHandler);
        const fit = new FitAddon.FitAddon();
        term.loadAddon(fit);
        term.loadAddon(new WebLinksAddon.WebLinksAddon());
        term.loadAddon(new SearchAddon.SearchAddon());

        term.open(document.getElementById("terminal"));
        fit.fit();
        term.resize(15, 50);
        console.log(`size: ${term.cols} columns, ${term.rows} rows`);
        fit.fit();
        term.writeln("Welcome to {{ SITE_TITLE }}");
        term.writeln('');
        term.writeln("You can copy with ctrl+shift+x");
        term.writeln("You can paste with ctrl+shift+v");
        term.writeln("You can also open copy/paste box using ctrl+shift+h");
        term.writeln('');
        term.writeln('');
        term.onData((data) => {
            console.log("browser terminal received new data:", data);
            socket.emit("pty-input", { input: data });
        });

        const socket = io.connect("/pty?containerid={{ CONTAINER_ID }}");
        const status = document.getElementById("status");

        socket.on("pty-output", function (data) {
            if (data.close_con === true) {
                socket.disconnect();
            }
            console.log("new output received from server:", data.output);
            term.write(data.output);
        });

        socket.on("connect", () => {
            fitToscreen();
            status.innerHTML = '<span class="bg-green-200">connected</span>';
        });

        socket.on("disconnect", () => {
            status.innerHTML = '<span class="bg-red-200">disconnected</span>';
        });

        function fitToscreen() {
            fit.fit();
            const dims = { cols: term.cols, rows: term.rows };
            console.log("sending new dimensions to server's pty", dims);
            socket.emit("resize", dims);
        }

        function debounce(func, wait_ms) {
            let timeout;
            return function (...args) {
                const context = this;
                clearTimeout(timeout);
                timeout = setTimeout(() => func.apply(context, args), wait_ms);
            };
        }

        function customKeyEventHandler(e) {
            if (e.type !== "keydown") {
                return true;
            }
            if (e.ctrlKey && e.shiftKey) {
                const key = e.key.toLowerCase();
                if (key === "v") {
                    navigator.clipboard.readText().then((toPaste) => {
                        term.writeText(toPaste);
                    });
                    return false;
                } else if (key === "c" || key === "x") {
                    const toCopy = term.getSelection();
                    navigator.clipboard.writeText(toCopy);
                    term.focus();
                    return false;
                } else if (key === "h") {
                    showCopyPasteBox();
                }
            }
            return true;
        }

        function showCopyPasteBox() {
            let blur = document.createElement("div");
            blur.className = "fixed top-0 left-0 h-full w-full bg-black bg-opacity-30 z-50 flex items-center justify-center";
            blur.innerHTML = `
                <div class="bg-white border border-gray-300 shadow-lg p-5 rounded-lg max-w-lg w-full">
                    <label class="font-bold text-xl">Copy/Paste box:</label><br/><br>
                    <textarea id="copypasebox" class="w-full h-64 border-dashed border-blue-500 outline-none text-lg" spellcheck="false"></textarea>
                    <br/><br>
                    <div class="flex justify-between">
                        <button id="pastebtn" class="bg-blue-600 text-white p-2 rounded">Paste</button>
                        <button id="copybtn" class="bg-blue-600 text-white p-2 rounded">Copy</button>
                    </div>
                </div>`;
            document.body.append(blur);
            let textbox = document.getElementById("copypasebox"), 
                copybtn = document.getElementById("copybtn"), 
                pastebtn = document.getElementById("pastebtn");
            textbox.value = term.getSelection();
            copybtn.onclick = () => {
                navigator.clipboard.writeText(textbox.value);
                document.body.removeChild(blur);
            };
            pastebtn.onclick = () => {
                term.write(textbox.value);
                document.body.removeChild(blur);
            };
        }

        const wait_ms = 50;
        window.onresize = debounce(fitToscreen, wait_ms);
    </script>
</body>

</html>
