<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>pyxterm.js</title>
    <style>
        html {
            font-family: arial;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/xterm@4.11.0/css/xterm.css" />
</head>

<body style="overflow-y: hidden;background: black;">
    <div style="background: white;width: 100%;padding: 8px; margin: -8px 0px 0px -8px; font-weight: bold">
        <a href="#" style="font-size: 1.4em; text-decoration: none; color:black">{{ SITE_TITLE }} -
            Terminal</a>&nbsp;&nbsp;&nbsp;
        </a>
        <span style="font-size: small">status:
            <span style="font-size: small" id="status">connecting...</span></span>
    </div>
    <div style="width: 100%; height: calc(100% - 27.5px); margin-top: 5px;" id="terminal"></div>
    <!-- xterm -->
    <script src="https://unpkg.com/xterm@4.11.0/lib/xterm.js"></script>
    <script src="https://unpkg.com/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.js"></script>
    <script src="https://unpkg.com/xterm-addon-web-links@0.4.0/lib/xterm-addon-web-links.js"></script>
    <script src="https://unpkg.com/xterm-addon-search@0.8.0/lib/xterm-addon-sear
ch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>

    <script>
        const term = new Terminal({
            cursorBlink: true,
            macOptionIsMeta: true,
            scrollback: true,
        });
        term.attachCustomKeyEventHandler(customKeyEventHandler);
        // https://github.com/xtermjs/xterm.js/issues/2941
        const fit = new FitAddon.FitAddon();
        term.loadAddon(fit);
        term.loadAddon(new WebLinksAddon.WebLinksAddon());
        term.loadAddon(new SearchAddon.SearchAddon());

        term.open(document.getElementById("terminal"));
        fit.fit();
        term.resize(15, 50);
        console.log(`size: ${term.cols} columns, ${term.rows} rows`);
        fit.fit();
        term.writeln("Welcome to {{ SITE_TITLE }}");
        term.writeln('');
        term.writeln("You can copy with ctrl+shift+x");
        term.writeln("You can paste with ctrl+shift+v");
        term.writeln("You can also open copy/paste box using ctrl+shift+h");
        term.writeln('');
        term.writeln('');
        term.onData((data) => {
            console.log("browser terminal received new data:", data);
            socket.emit("pty-input", { input: data });
        });

        const socket = io.connect("/pty?containerid={{ CONTAINER_ID }}");
        const status = document.getElementById("status");

        socket.on("pty-output", function (data) {
            if (data.close_con === true) {
                socket.disconnect();
            }
            console.log("new output received from server:", data.output);
            term.write(data.output);
        });

        socket.on("connect", () => {
            fitToscreen();
            status.innerHTML =
                '<span style="background-color: lightgreen;">connected</span>';
        });

        socket.on("disconnect", () => {
            status.innerHTML =
                '<span style="background-color: #ff8383;">disconnected</span>';
        });

        function fitToscreen() {
            fit.fit();
            const dims = { cols: term.cols, rows: term.rows };
            console.log("sending new dimensions to server's pty", dims);
            socket.emit("resize", dims);
        }

        function debounce(func, wait_ms) {
            let timeout;
            return function (...args) {
                const context = this;
                clearTimeout(timeout);
                timeout = setTimeout(() => func.apply(context, args), wait_ms);
            };
        }

        /**
         * Handle copy and paste events
         */
        function customKeyEventHandler(e) {
            if (e.type !== "keydown") {
                return true;
            }
            if (e.ctrlKey && e.shiftKey) {
                const key = e.key.toLowerCase();
                if (key === "v") {
                    // ctrl+shift+v: paste whatever is in the clipboard
                    navigator.clipboard.readText().then((toPaste) => {
                        term.writeText(toPaste);
                    });
                    return false;
                } else if (key === "c" || key === "x") {
                    // ctrl+shift+x: copy whatever is highlighted to clipboard

                    // 'x' is used as an alternate to 'c' because ctrl+c is taken
                    // by the terminal (SIGINT) and ctrl+shift+c is taken by the browser
                    // (open devtools).
                    // I'm not aware of ctrl+shift+x being used by anything in the terminal
                    // or browser
                    const toCopy = term.getSelection();
                    navigator.clipboard.writeText(toCopy);
                    term.focus();
                    return false;
                } else if (key === "h"){
                    let blur = document.createElement("div");
                    blur.setAttribute("style", "user-select:none;position: fixed; top:0px; left:0px; height:100%; width:100%; background:rgba(0,0,0,0.15); z-index: 9999999999999");
                    blur.innerHTML = `<div style="
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    max-width: 85%;
"><label style="font-weight: bold;font-size: 1.5em;">Copy/Paste box:</label><br/><br><textarea id="copypasebox" style="width: 764px; height: 425px; border: 1px dashed #0071E3; outline: none; font-size: 1.5em; max-width: 100%;" spellcheck="false"></textarea>
<br/><br><div><button id="pastebtn" style="
    padding: 7.5px;
    margin: 0px 10px;
">Paste</button><button id="copybtn" style="
    padding: 7.5px;
    margin: 0px 10px;
">Copy</button></div></div>`;
                    document.body.append(blur);
                    let textbox = document.getElementById("copypasebox"), copybtn = document.getElementById("copybtn"), pastebtn = document.getElementById("pastebtn");
                    textbox.value = term.getSelection();
                    copybtn.onclick = ()=>{
                        navigator.clipboard.writeText(textbox.value);
                        document.body.removeChild(blur);
                    };
                    pastebtn.onclick = ()=>{
                        term.write(textbox.value);
                        document.body.removeChild(blur);
                    };
                }
            }
            return true;
        }

        const wait_ms = 50;
        window.onresize = debounce(fitToscreen, wait_ms);
    </script>
</body>

</html>